*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Animação para desaparecer suavemente */
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.hidden {
    display: none !important;
}

/* Estiliza a tela de loading */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #333;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    /* Adiciona a transição de fadeout */
}

/* Estiliza a mensagem */
#message {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    opacity: 0;
    /* Começa invisível */
    transition: opacity 1s ease-in-out;
    text-align: center;
}

/* Animação do spinner */
.spinner {
    width: 40px;
    height: 40px;
    border: 5px solid #555;
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Estilo do ícone de bug */
.link i {
    font-size: 23px;
    cursor: pointer;
}

/* Cursor com várias bolinhas */
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10000;
}

.circle {
    position: absolute;
    background: rgba(132, 132, 132, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.1s ease-out;
    will-change: transform, opacity;
}

/* Estilo das bolinhas */
.circle {
    width: var(--diameter);
    height: var(--diameter);
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

nav {
    display: block;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #515151;
    text-align: left;
    background-color: #e9edf4;
    max-width: 100%;
    overflow-x: hidden ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: 'League Spartan', sans-serif;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #3f84fc;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0458eb;
    text-decoration: underline;
}

i {
    color: #515151;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: 2.5rem;
    font-weight: normal;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;
}

.card-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    text-align: center;
}

.dashboard {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;

    background-color: #eeeeee68;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.1) 1.5px, transparent 1.5px);
    background-size: 30px 30px;
}

.img-container {
    margin-top: -35px;
    z-index: 1;
}


.dashboard-toolbar a:first-child {
    position: absolute;
    left: 10px;
    /* Ajuste conforme necessário */
}
  .dashboard-toolbar {
      min-height: 84px;
      background-color: #dfdfdf;
      display: flex;
      align-items: center;
      padding: 8px 27px;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1;
  }

  /* Ícones e fontes adaptáveis */
  .bug-icon {
      font-size: 23px;
  }

  .whatsapp-icon {
      font-size: 23px;
      margin-right: 5px;
  }

  .arrow-icon {
      font-size: 15px;
      font-weight: 500;
      margin-left: 5px;
  }

  /* Ajustes responsivos */
  @media (max-width: 768px) {
      .dashboard-toolbar {
          flex-direction: column;
          align-items: center;
          text-align: center;
      }

      .bug-icon {
          font-size: 20px;
      }

      .text-links {
          font-size: 14px;
      }

      .whatsapp-text {
          font-size: 14px;
      }

      .arrow-icon {
          font-size: 12px;
      }
  }

  @media (max-width: 480px) {
      .bug-icon {
          font-size: 18px;
      }

      .text-links {
          font-size: 12px;
      }

      .whatsapp-text {
          font-size: 12px;
      }

      .arrow-icon {
          font-size: 10px;
      }
  }

.content {
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.text-container {
    padding: 50px;
}

.title {
    font-size: 3.4rem;
    margin-bottom: 20px;
    text-align: center;
}

.description {
    font-size: 1.2rem;
    text-align: center;
}

.robot-img {
    width: 100%;
    z-index: 1;
    filter: drop-shadow(2px 2px 16px rgba(0, 0, 0, 0.209));
}

/* Certifica-se de que a div que contém a imagem esconde qualquer parte que ultrapasse */
.parent-container {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 500px;
    /* Ajuste conforme necessário */
    justify-content: center;
    text-align: center;
}

/* Estilização da imagem */
.robot-img2 {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(1.4);
    margin-top: -100px;
    width: auto;
    max-width: 100%;
    z-index: 1;
    filter: drop-shadow(2px 2px 16px rgba(0, 0, 0, 0.209));
}

/* Responsividade */
@media (max-width: 768px) {
    .parent-container {
        overflow: hidden;
        min-height: 800px;
        justify-content: center;
    }

    .robot-img2 {
        scale: 1.2;
        margin-top: -50px;
    }
}

@media (max-width: 480px) {
    .robot-img2 {
        scale: 1;
        margin-top: 0;
    }
}

/* card */

.card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    text-align: center;
}

.card-title {
    font-size: 2.9rem;
    margin-bottom: 50px;
    margin-top: 30px;
}

.profile-img {
    border-radius: 50%;
}

@media (max-width: 768px) {
    .profile-img {
        margin-top: 20px;
    }
}

.profile-container {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.timeline {
    position: relative;
    padding-left: 40px;
    border-left: 3px solid #00000075;
}

.timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.timeline-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.timeline-content {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.timeline-content h4 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
}

.timeline-content .text-muted {
    font-size: 0.9rem;
}

.timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.timeline-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.timeline-content h4 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.timeline-content p {
    margin: 2px 0;
    font-size: 0.9rem;
}

.info-section h2 {
    font-weight: bold;
    margin-bottom: 8px;
    text-align: right;
}

.info-section p {
    margin: 3px 0;
    font-size: 1rem;
    text-align: right;
}


.custom-card {
    background: #f8f8fc;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 100%;
    margin: 10px auto;
    transition: transform 0.3s ease-in-out;
}

.custom-card:hover {
    transform: scale(1.05);
}

.card-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.card-image-frontend img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

/* Ajuste do tamanho dos cards em telas menores */
@media (max-width: 992px) {
    .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
}

.user-info {
    flex: 1;
    margin-left: 10px;
}

.user-info strong {
    display: block;
    color: #333;
}

.user-info span {
    font-size: 0.9em;
    color: #777;
}

.menu-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #999;
}

.menu-btn:hover {
    color: #333;
}

/* footer */

.footer {
    color: #000;
    text-align: center;
    padding: 20px;
}

.footer-text {
    margin-bottom: 10px;
    font-size: 23px;
    color: gray;
}

.footer-icons {
    margin-top: 10px;
}

.footer-icons .icon {
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-divider {
    border: none;
    height: 1px;
    background: linear-gradient(to right, #656565, #000000);
    margin: 20px auto;
    width: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

/* IA */

.chatbot {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 1000;
    animation: float 2s ease-in-out infinite;
    cursor: pointer;
    z-index: 99;
}

.chatbot-img {
    border-radius: 50%;
}

.chatbox {
    position: fixed;
    left: 20px;
    bottom: 150px;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    padding: 10px;
    z-index: 99;

}

.chat-message {
    padding: 10px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    border-radius: 8px;

}

.chat-input {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.chat-input input {
    width: 100%;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.message-options {
    overflow-y: scroll;
    max-height: 120px;
    min-height: 120px;
}

.message-option {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    cursor: pointer;
}

.message-option:hover {
    background-color: #ddd;
}

.messagebox {
    overflow-y: auto;
    /* Adiciona a rolagem automática quando necessário */
    max-height: 250px;
    /* Define uma altura máxima para evitar que o chat quebre */
    min-height: 150px;
    /* Define uma altura mínima para manter um tamanho adequado */
    padding-right: 10px;
    /* Evita sobreposição da barra de rolagem */
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

/* Estiliza a barra de rolagem */
.messagebox::-webkit-scrollbar {
    width: 8px;
    /* Define a largura da barra de rolagem */
}

/* Estiliza o trilho (fundo) da barra de rolagem */
.messagebox::-webkit-scrollbar-track {
    background: transparent;
    /* Esconde o fundo */
    border-radius: 10px;
}

/* Estiliza o "thumb" (a parte arrastável da barra) */
.messagebox::-webkit-scrollbar-thumb {
    background: #b0b0b0;
    /* Cinza moderno */
    border-radius: 10px;
    /* Arredondado */
    transition: background 0.3s ease-in-out;
}

/* Efeito ao passar o mouse */
.messagebox::-webkit-scrollbar-thumb:hover {
    background: #909090;
    /* Cinza um pouco mais escuro ao passar o mouse */
}

.message-options::-webkit-scrollbar {
    display: none;
    /* Esconde completamente o scrollbar no Chrome, Edge e Safari */
}

.message-options {
    -ms-overflow-style: none;
    /* Esconde a barra de rolagem no Internet Explorer e Edge */
    scrollbar-width: none;
    /* Esconde a barra de rolagem no Firefox */
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.buttonWhatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 18px;
    border: 1px solid transparent;
    color: #515151;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    background: transparent;
}

.buttonWhatsapp i {
    font-size: 22px;
    transition: color 0.3s ease-in-out;
}

.buttonWhatsapp:hover {
    color: #272727;
    border: 1px solid transparent;
    text-decoration: none;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 18px;
    border: 1px solid transparent;
    color: #515151;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    background: transparent;
}

.link:hover {
    color: #272727;
    text-decoration: none;
}
